<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Apartment Finder</h1>
      <h2>Find apartments in New York</h2>
    </div>

    <%= render 'filter' %>
  </div>
</div>
